body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff8f0;
    margin: 0;
    padding: 0;
}

.welcome-page, .register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container h1 span {
    color: #d37b2c;
}

.btn {
    display: inline-block;
    background: #d37b2c;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 50px;
    transition: 0.3s;
}
.btn:hover {
    background: #a85f1e;
}

.navbar {
    background-color: #d37b2c;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
  
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
.navbar ul li a {
    color: #fff;
    text-decoration: none;
}
.hero {
    text-align: center;
    padding: 100px 30px;
}
.form-container {
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form-container input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}


.logo-box {
    margin-bottom: 30px;
}

.logo {
    width: 250px; 
    height: auto;
    border-radius: 20%;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

/* ===========================
   BAGIAN MENU FAVORIT
=========================== */
.menu-fav {
    background-color: #fff8f0;
    padding: 50px 20px;
    text-align: center;
}

.menu-fav h2 {
    color: #d37b2c;
    margin-bottom: 30px;
}

.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-item {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    width: 220px;
    padding: 30px;
    transition: 0.3s ease;
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.menu-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}

.menu-item h3 {
    margin: 10px 0 5px 0;
    color: #333;
}

.menu-item p {
    color: #666;
    margin-bottom: 10px;
}
